<div class="d-flex flex-column">
	<div class="align-self-end">
	  <%= link_to "Back", root_path, :class => "btn btn-info mt-2" %>
	</div>
	<div>
	  <%= render :partial => 'form', :locals => {:btn_label => "Create"} %>
	</div>
</div>